.price-container {
  font-size: inherit;
  color: inherit;

  .old-price {
    font-size: 1.5em;
    text-decoration: line-through;
    @media (width <= 600px) {
      font-size: 1em;
    }
  }

  .sale {
    font-size: 1.3em;
    color: red;
    text-shadow: 0 0 20px rgba(28, 2, 2, 0.3);
    @media (width <= 600px) {
      font-size: 0.9em;
    }
  }

  .final-price {
    font-size: 1.6em;
    @media (width <= 600px) {
      font-size: 1em;
      font-weight: 500;
    }
  }
}
