.heading {
  text-align: center;
}

.school-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
    max-width: 200px;
  }
}

.collaboration-text {
  margin-bottom: 1em;
}

.team-members-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
