.input {
  border: 1px solid #898989;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.5;
  outline: none;

  &:focus {
    border-color: #56b280;
  }

  &.invalid {
    border-color: #ea5555;
  }
}

.invalid {
  color: #ea5555;
}
