.catalog {
  margin-top: 20px;
}

.catalog-header {
  margin: 15px;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--main-icon-color);

  @media (width <= 1000px) {
    font-size: 24px;
  }

  @media (width <= 800px) {
    font-size: 20px;
  }
}

.text {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.center {
  text-align: -webkit-center;
}

.wrapper {
  background-color: var(--main-container-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.furniture {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 40px;
  border-radius: 5px;
  color: var(--main-links-color);
  background-color: var(--main-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  &:hover {
    transform: scale(1.05);
  }
}
