.form-registration {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 520px;
  margin: 0 auto;
  padding: 1em;
  border: 2px solid #898989;
  border-radius: 4px;

  background-color: #f9f9f9;
  box-shadow: -5px 5px 20px 8px #d7d7d7;

  & button {
    align-self: flex-end;
  }
}

.input-group {
  display: flex;
  gap: 1em;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  border-radius: 8px;

  & legend {
    padding: 0 0.7em;
  }
}

.heading {
  text-align: center;
}

.navigate {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.link,
.text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 5px;
}

.link {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--main-text-color);

  &:hover {
    transform: scale(1.05);
  }
}

.link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  transition: width 0.5s;
}

.link:hover:after {
  content: '';
  width: 10%;
  display: block;
  position: absolute;
  left: 45%;
  bottom: -3px;
  height: 2px;
  background-color: mintcream;
  transition: width 0.5s;
}
