.basket-icon-wrapper::after {
  content: attr(data-quantity) ' ';
  display: flex;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 17px;
  position: absolute;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  font-size: 63%;
  align-items: center;
  justify-content: center;
  top: -9px;
  left: 19px;
  font-weight: 600;
}
