.input-group {
  display: flex;
  gap: 1em;
}

.modal-password {
  width: 100%;
  max-width: 55svw;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.new-password-fieldset {
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 5px;
}

.error-msg {
  color: #ea5555;
}

.address-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}
