footer {
  height: 250px;
  padding: 10px;
  position: sticky;
  margin-top: 20px;
  text-align: -webkit-center;
  background-color: var(--main-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
}

.github {
  justify-content: start;
  display: flex;
  align-items: center;
}

.image {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.text,
.link {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--main-text-color);
}

.text {
  font-size: 20px;
}

.link {
  font-size: 16px;
  @media (width <= 450px) {
    font-size: 10px;
  }
}

.telephone {
  display: flex;
  align-items: center;
}
